[submodule "modules/foundation"]
	path = modules/foundation
	url = https://github.com/siruhay/mod-foundation.git
[submodule "modules/myfoundation"]
	path = modules/myfoundation
	url = https://github.com/siruhay/mod-myfoundation.git
[submodule "modules/posyandu"]
	path = modules/posyandu
	url = https://github.com/siruhay/mod-posyandu.git
[submodule "modules/myposyandu"]
	path = modules/myposyandu
	url = https://github.com/siruhay/module-myposyandu.git
[submodule "modules/training"]
	path = modules/training
	url = https://github.com/siruhay/mod-training.git
[submodule "modules/mytraining"]
	path = modules/mytraining
	url = https://github.com/siruhay/mod-mytraining.git
[submodule "modules/system"]
	path = modules/system
	url = https://github.com/siruhay/mod-system.git
[submodule "modules/reference"]
	path = modules/reference
	url = https://github.com/siruhay/mod-reference.git
